body {
  background: #909193 url(distrib/images/linen.png) repeat;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:#DFDBC3;
  border: 2px solid red;
  cursor: default;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

#taskbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333; 
  background-image: url('matrix-code-animation-gif-free-animated-background.gif'); 
  background-size: cover;
  background-repeat: no-repeat; 
  color: green; /* Ensures all text in the taskbar is green */
  text-align: left;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 12pt;
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}

#taskbar span {
  text-shadow: 1px 1px 2px white; /* Adds a slight shadow around the text */
  color: green; /* Ensures all span elements inherit the green color */
}

#taskbar-status {
  margin-right: 50px;
  white-space: nowrap; /* Prevent the text from wrapping */
  overflow: hidden; /* Hide any overflowed text */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflowing text */
  max-width: calc(100% - 200px); /* Adjust the max-width to ensure it fits within the available space */
  display: inline-block;
  color: green; /* Ensures the status text is green */
}
