body {
  background: #909193 url(distrib/images/linen.png) repeat;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color: #121111;
  border: 2px solid rgb(6, 128, 0);
  cursor: default;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

#taskbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333; 
  background-image: url('matrix-code-animation-gif-free-animated-background.gif'); 
  background-size: cover;
  background-repeat: no-repeat; 
  color: green; 
  text-align: left;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 12pt;
  box-sizing: border-box; 
}

#taskbar span {
  text-shadow: 1px 1px 2px white; 
  color: green; 
}

#taskbar-status {
  margin-right: 50px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  max-width: calc(100% - 200px); 
  display: inline-block;
  color: green; 
}
